<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
			data-namespace-typo3-fluid="true">

<table class="table">
	<thead>
	<tr>
		<th>Config</th>
		<th>Value</th>
	</tr>
	</thead>
	<tbody>
	<tr>
		<td><strong>Wall ID</strong></td>
		<td>{pi_flexform_transformed.wallId}</td>
	</tr>
	<tr>
		<td><strong>Load</strong></td>
		<td>{pi_flexform_transformed.entriesToLoad}</td>
	</tr>
	<tr>
		<td><strong>Show</strong></td>
		<td>{pi_flexform_transformed.entriesToShow}</td>
	</tr>
	</tbody>
</table>
</html>
