<html lang="en"
			xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
			xmlns:w="http://typo3.org/ns/JWeiland/WallsIoProxy/ViewHelpers"
			data-namespace-typo3-fluid="true">

<f:be.pageRenderer includeRequireJsModules="{0: 'TYPO3/CMS/WallsIoProxy/ClearCache'}" />

<table class="table">
	<thead>
	<tr>
		<th>Config</th>
		<th>Value</th>
	</tr>
	</thead>
	<tbody>
	<tr>
		<td><strong>Load</strong></td>
		<td>{pi_flexform_transformed.entriesToLoad}</td>
	</tr>
	<tr>
		<td><strong>Show</strong></td>
		<td>{pi_flexform_transformed.entriesToShow}</td>
	</tr>
	</tbody>
</table>

<w:be.security.isAdministrator>
	<div class="btn btn-default wallsIoProxyClearCache"
			 data-content-record-uid="{uid}"
			 data-clear-cache-uri="{f:be.uri(route: 'tce_db', parameters: {cacheCmd: 'WallIoProxy', contentRecordUid: uid})}">
		{f:translate(key: 'LLL:EXT:walls_io_proxy/Resources/Private/Language/locallang.xlf:clearCache.posts')}
	</div>
</w:be.security.isAdministrator>
</html>
