<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
			data-namespace-typo3-fluid="true">

<f:be.pageRenderer includeRequireJsModules="{0: 'TYPO3/CMS/WallsIoProxy/ClearCache'}" />

<table class="table">
	<thead>
	<tr>
		<th>Config</th>
		<th>Value</th>
	</tr>
	</thead>
	<tbody>
	<tr>
		<td><strong>Wall ID</strong></td>
		<td>{pi_flexform_transformed.wallId}</td>
	</tr>
	<tr>
		<td><strong>Load</strong></td>
		<td>{pi_flexform_transformed.entriesToLoad}</td>
	</tr>
	<tr>
		<td><strong>Show</strong></td>
		<td>{pi_flexform_transformed.entriesToShow}</td>
	</tr>
	</tbody>
</table>
<div class="btn btn-default wallsIoProxyClearCache"
		 data-wall-id="{pi_flexform_transformed.wallId}"
		 data-clear-cache-uri="{f:be.uri(route: 'tce_db', parameters: {cacheCmd: 'WallIoProxy', wallId: pi_flexform_transformed.wallId})}">
	Clear Cache
</div>
</html>
